<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <p style="text-align:center;font-size:50px;"> <%= @product.title %> </p>

    <%= link_to 'Edit this product', edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to products', products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

<!-- Code for Carousel -->

<head>
  <title>Image Styles Example</title>
  <link rel="stylesheet" href="styles.css">
  <%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'carousel', media: 'all' %>
</head>

<div class="row">
  <% @product.image_urls.first(4).each_with_index do |image_url, index| %>
    <% strip_image_url = image_url.to_s.strip.delete('"') %>
    <div class="column">
      <img src="<%= strip_image_url %>" alt="<%= index + 1 %>" class="image-style" onclick="myFunction(this);">
    </div>
  <% end %>
</div>

<% remaining_images_count = @product.image_urls.size - 4 %>
<% if remaining_images_count > 0 %>
  <button type="button" id="showMoreBtn"> <p style="color:blue;">Show More (<%= remaining_images_count %>)</button>
<% end %>

<!-- The expanding image container -->
<div class="container">
  
  <!-- Expanded image -->
  <img id="expandedImg" alt="">
  
  <!-- Image text -->
  <div id="imgtext"></div>
</div>

<!-- Modal Code -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="image-grid">
    <span class="modal-close">&times;</span>
      <% @product.image_urls.each_with_index do |image_url, index| %>
        <% strip_image_url = image_url.to_s.strip.delete('"') %>
        <div class="column">
          <img src="<%= strip_image_url %>" alt="<%= index + 1 %>" class="image-style" onclick="showExpandedImage(this);">
        </div>
        <% if (index + 1) % 3 == 0 %>
          <% if index + 1 != @product.image_urls.size %>
            </div>
            <div class="image-grid">
          <% end %>
        <% end %>
      <% end %>
    </div>
    <span class="modal-close" onclick="closeModal()">&times;</span>
    <div id="modalContent">
      <!-- The expanding image container -->
      <div class="container">   
        <!-- Expanded image -->
        <img id="expandedImg" alt="">
        
        <!-- Image text -->
        <div id="imgtext"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function showExpandedImage(img) {
    var expandImg = document.getElementById("modalContent").querySelector("#expandedImg");
    var imgText = document.getElementById("modalContent").querySelector("#imgtext");

    expandImg.src = img.src;
    imgText.innerHTML = img.alt;
    document.getElementById("modalContent").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  document.addEventListener('DOMContentLoaded', function() {
    const modal = document.getElementById('myModal');
    const showMoreBtn = document.getElementById('showMoreBtn');

    showMoreBtn.addEventListener('click', function() {
      modal.style.display = 'block';
    });
  });
</script>
