<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @product %>
    <%= @product.title %>

    <%= link_to 'Edit this product', edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to products', products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

<!-- Code for Carousel -->

<head>
  <title>Image Styles Example</title>
  <link rel="stylesheet" href="styles.css">
  <%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'carousel', media: 'all' %>
</head>

<!-- The grid: four columns -->
<div class="row">
  <% @product.image_urls.each_with_index do |image_url, index| %>
    <% strip_image_url = image_url.to_s.strip.delete('"')%>
    <div class="column">
      <img src="<%= strip_image_url %>" alt="<%= index + 1 %>" class="image-style" onclick="myFunction(this);">
    </div>
  <% end %>
</div>


<!-- The expanding image container -->
<div class="container">
  <!-- Close the image -->
  <span id="closeBtn" onclick="closeExpandedImage()" class="closebtn">&times;</span>
  
  <!-- Expanded image -->
  <img id="expandedImg" alt="">
  
  <!-- Image text -->
  <div id="imgtext"></div>
</div>
