<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <p style="text-align:center;font-size:50px;"> <%= @product.title %> </p>

    <%= link_to 'Edit this product', edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:text-white hover:bg-sky-700" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium hover:text-white hover:bg-sky-700" %>
    </div>
    <%= link_to 'Back to products', products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:text-white hover:bg-sky-700" %>
  </div>
</div>

<!-- Code for Carousel -->

<head>
  <title>Image Styles Example</title>
  <%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
</head>

<div class="row">

  <%= render 'products/test_dialog' %>

</div>

<div class="row">



  <% @product.image_urls.first(4).each_with_index do |image_url, index| %>
    <% strip_image_url = image_url.to_s.strip.delete('"') %>
    <button class="column focus:outline-none focus:ring focus:ring-sky-300">
      <img src="<%= strip_image_url %>" alt="<%= index + 1 %>" class="image-style" onclick="myFunction(this);">
    </button>
  <% end %>
</div>

<!-- The expanding image container -->
<div class="container">
  
  <!-- Expanded image -->
  <img id="expandedImg" alt="">
  
  <!-- Image text -->
  <div id="imgtext"></div>
</div>

<!-- Javascript for the modal window -->

<script>
  function showExpandedImage(img) {
    var expandImg = document.getElementById("modalContent").querySelector("#expandedImg");
    var imgText = document.getElementById("modalContent").querySelector("#imgtext");

    expandImg.src = img.src;
    imgText.innerHTML = img.alt;
    document.getElementById("modalContent").style.display = "block";
  }

  document.addEventListener('DOMContentLoaded', function() {
    const modal = document.getElementById('myModal');
    const showMoreBtn = document.getElementById('showMoreBtn');

    showMoreBtn.addEventListener('click', function() {
      modal.style.display = 'block';
    });
  });
</script>
